/* || General styles */

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
table {
  text-align: center;
}

main {
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

/* || Form */
#bookFormSection {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 25%;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input {
  margin: 0.25rem 0;
}

input:invalid {
  background-color: #ff000050;
}

input:valid {
  background-color: #00800050;
}

/* || Table */
table,
th,
td {
  width: 90%;
  table-layout: fixed;
}

th,
td {
  padding: 0.5rem 1rem;
}

.bookOptionsCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}